cc_library(
    name = "a_lib",
    srcs = glob([
        "*.cpp",
        "*.h",
    ]),
    hdrs = glob([
        "*.cpp",
        "*.h",
    ]),
    visibility = ["//visibility:public"],
    deps = [
        "<DEP>",
    ],
)
